body {
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background: #042349  url("/images/galaxy.jpg") repeat center top;
    background-size: cover;
    color: #000000;
    text-align: center;
    font-weight: 300;
    letter-spacing: 3px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 2px solid #101010;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: #222;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #120686;
    font-weight: 700;
}

.wrapper{
    margin: 0 auto;
    width: 75%;
    background-color: white;

}

main {
    height: 90vh;
}

p {
    margin: 0 10%;
    letter-spacing: 1px;
    text-align: center;
}

h1, h2 {
    margin: 1%;
    padding: 7%;
    font-weight: 300;
    text-transform: uppercase;
}

img {
    margin: 5%;
    max-width: 75%;
    max-height: 100%;
}

footer {
    margin: 5% 10% 5% 10%;
    padding: 7% 0 2% 0;
    font-size: 75%;
}

#timeline {
    transition: all .2s ease-in-out;
}

#timeline:hover {
    transform: scale(1.1);
}

.quote {
    padding: 15%;
    color: #666666;
}

